@model IEnumerable<LEGO_Dimensions.Models.Pouvoir>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Ajouter un pouvoir", "Create")
    </p>
    <table class="Liste">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personnages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accessoires)
            </th>
            <th></th>
        </tr>
    
    @foreach (LEGO_Dimensions.Models.Pouvoir pouvoir in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => pouvoir.Nom)
            </td>
            <td>                
                @foreach (LEGO_Dimensions.Models.Personnage personnage in pouvoir.Personnages)
                {
                    @Html.DisplayFor(modelItem => personnage.Nom) <br />
                }
            </td>
            <td>
                @foreach (LEGO_Dimensions.Models.Accessoire accessoire in pouvoir.Accessoires)
                {
                    @Html.DisplayFor(modelItem => accessoire.Nom) <br />
                }
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = pouvoir.PouvoirId }, new { @class = "EditDeleteLink" }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = pouvoir.PouvoirId }, new { @class = "EditDeleteLink" })
            </td>
        </tr>
    }
    
    </table>
    @Html.ActionLink("Retour", "Index", "Accueil")
</body>
</html>
